@import 'config';
@import 'hamburger';
@import 'responsive';
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
   @include background();
   color: set-text-color($PrimaryColor);
   line-height: 1.5;
   font-family: 'Roboto', sans-serif;
   height:100vh;
}

h1, h2, h3{
    font-weight: 400;

    &.veliki-tekst{
        font-size:5.5rem;
        margin-left: 1rem;
    }

    &.mali-tekst{
        
        margin-left: 1rem;
        margin-bottom: 2rem;
        padding: 0.4rem 2rem;
        background: rgba(lighten($PrimaryColor,2),0.5);
    }
}

a{
    color:#fff;
    text-decoration: none;
}

header{
    position:fixed;
    z-index: 2;
    width:100%;
}

.druga-boja{
    color:$secondary-color;
}

main{
    padding: 3.5rem;
    height:100%;
    
    .icons{
        margin-top:0.8rem;

        a{
            padding: 0.4rem;

           i{
               &.fa-facebook{
                  color:#fff;
                   
                   &:hover{
                    //    color:#3b5998;
                       @include tranzicija();
                       opacity:0.7;
                       color: $secondary-color;
                   }
               }

               &.fa-instagram{
                background: #fff;
                background-clip:text;
                -webkit-background-clip: text;
                    &:hover{
                        @include tranzicija();
                        color: $secondary-color;
                    
                }
               }
           }
        }
    }

    &#home{
        h1{
            margin-top:25vh;
        }
    }
}

.main2{
    @include opacityBackground;
    padding: 3.5rem;

    .about-info{
        display:grid;
        grid-gap: 30px;
        grid-template-columns: repeat(2, 1fr);
    }

    .bio-image{
       margin: auto;
       width: 180px;
       border-radius: 50%;
       border: $secondary-color 3px solid;
    }

    .bio{
       font-size: 1.5rem;

       
    }

    .more-about{
        //grid-column: 1/4;
        background: lighten($PrimaryColor, 5);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
        h3.druga-boja{
            text-align: center;
            font-size: 2rem;
        }
       .container{
           display:flex;
           justify-content: space-around;
           position: relative;
           .card{
               position: relative;
               display: flex;
               justify-content: center;
               align-items: center;
               height: 300px;
               text-align: center;
               overflow: hidden;
               transition: 0.5s;

               &:hover{
                   transform: translateY(-10px);
               }

               &:before{
                   content: '';
                   position: absolute;
                   top:0;
                   left:0;
                   width: 100%;
                   height: 100%;
                   pointer-events: none;
                   z-index: 1;
               }
               .box{
                   
                   .percent{
                       position: relative;
                       widows: 150px;
                       height: 150px;
                       border-radius: 50%;
                       box-shadow: inset 0 0 50px #000;
                       background: #222;
                       z-index: 20;

                       .number{
                           position: absolute;
                           top: 0;
                           left: 0;
                           width: 100%;
                           height: 100%;
                           display: flex;
                           justify-content: center;
                           align-items: center;
                           border-radius: 50%;

                           h2{
                               color: #fff;
                               font-weight: 500;
                               font-size: 28px;
                               transition: 0.5s;

                               span{
                                   font-size: 24px;
                                   color:#fff;
                               }
                           }
                       }
                   }
               }
           }
       }
 
    }
    .more-about-me{
        width:350px;
        h2{
            font-size: 2rem;
        }
    }
}


// My work
.main3{
    @include opacityBackground;
    padding: 3.5rem;
    h1.veliki-tekst{
        text-align: center;
    }
    .projects {
        position: relative;
        display: grid;
        grid-gap: 0.7rem;
        grid-template-columns: repeat(3, 1fr);

        .item{
            
            img{
                width:100%;
                border: 3px #fff solid;
                opacity: 0.5;
                &:hover{
                    opacity: 0.8;
                    border-color: $secondary-color;
                    @include tranzicija;
                }
            }
        }

        
    }
}

.main4{
    background: rgba($PrimaryColor, $background-opacity);
    border-top: 4px solid $border-color;
    h1.veliki-tekst{
        text-align: center;
    }

    h2{
        text-align: center;
    }
}

.boxes {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;

    div {
        font-size: 2rem;
        border: 3px #fff solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include tranzicija;

        &:hover{
            background: $secondary-color;
            color: #000;
            border: 3px #000 solid;
            span{
                color: #000;
            }
        }
    }
}

footer{
    border-top: 4px solid $border-color;
    border-bottom: 4px solid $border-color;
    background: rgba($PrimaryColor, 1);
    .sass{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        }
        a{
            color:$border-color;
            text-decoration: none;
            font-size: 1.1rem;
            &:hover{
                //opacity: 0.8;
                color: #000;
                @include tranzicija;
        }
    }
    p.footer-p{
        display: block;
        font-size: 1rem;
        text-align: center;
        margin-bottom: 20px;
        padding-right: 3rem;
    }
}

//button style
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;

    &:hover{
        background-color: $secondary-color;
        color: set-text-color($secondary-color);
        transition: 0.2s ease-out;
    }
}

.btn-dark{
   @extend .btn;
   background: darken($PrimaryColor, 50);
   color: #fff;
}

.btn-light{
    @extend .btn;  
    background: lighten($PrimaryColor, 50);
   color: #333;
}

// circles
.text{
    position: relative;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
    margin-top: 20px;
}

.card:hover .text{
    color: $secondary-color;
}
svg{
    width: 150px;
    
}
svg circle{
    width:100%;
    height: 100%;
    fill:none;
    stroke: #191919;
    stroke-width: 5;
    stroke-linecap: round;
    transform: translate(5px, 5px);

}

svg circle:nth-child(2){
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.card:nth-child(1) circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 90) / 100);
    stroke:$secondary-color;
}

.card:nth-child(2) circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 95) / 100);
    stroke:$secondary-color;
}

.card:nth-child(3) circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 75) / 100);
    stroke: $secondary-color;
}

.card:nth-child(4) circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 90) / 100);
    stroke: $secondary-color;
}

